
/* Font-Weight Roboto

- Thin:    100
- Light:   300
- Regular: 400
- Bold:    700
- Black:   900

*/


:root {
    --lightness1: #ffffff;
    --lightness2: #f2f2f2;
    --lightness3: #cccccc;
    --lightness4: #000000;
    --pastel1: #d9f9ff;
    --pastel2: #efffd9;
    --pastel3: #fff9d9;
    --pastel4: #ffedd9;
    --pastel5: #ffd8d8;
    --color1: #00d8ff;
    --color2: #93ff00;
    --color3: #ffd800;
    --color4: #ff8900;
    --color5: #ff0000;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.theme {
    padding: 5.5rem 2.5rem;
    font: 400 1.6rem/1 Roboto, sans-serif;
    background-color: var(--lightness2);
    background-repeat: no-repeat;
    background-size: cover;
}

.theme--light {
    background-image: url("../images/banner-light-small.jpg");
    background-image: image-set(
        "../images/banner-light-small.avif" type("image/avif"),
        "../images/banner-light-small.webp" type("image/webp"),
        "../images/banner-light-small.jpg" type("image/jpeg")
    );
}

.theme--dark {
    --lightness1: #000000;
    --lightness2: #242424;
    --lightness3: #575757;
    --lightness4: #cccccc;
    --pastel1: #00414d;
    --pastel2: #2c4d00;
    --pastel3: #4d4100;
    --pastel4: #4d2900;
    --pastel5: #4d0000;
    background-image: url("../images/banner-dark-small.jpg");
    background-image: image-set(
        "../images/banner-dark-small.avif" type("image/avif"),
        "../images/banner-dark-small.webp" type("image/webp"),
        "../images/banner-dark-small.jpg" type("image/jpeg")
    );
}

.notesApp {
    max-width: 100rem;
    border-radius: 1rem;
    margin: 0 auto;
    color: var(--lightness4);
    background: var(--lightness1);
}

.header {
    position: relative;
    text-align: center;
}

.header__title {
    padding: 8rem 0 3rem 0;
    margin: 0;
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: 0.7rem;
    text-transform: uppercase;
}

.header__btnTheme {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    border-radius: 50%;
    transition: 0.3s;
}

.header__imgPlus {
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 1rem;
}

.theme--light .header__btnTheme {
    background: var(--lightness2) center center / 1.5rem url("../images/icon-moon.svg") no-repeat;
}

.theme--dark .header__btnTheme {
    background: var(--lightness2) center center / 2.1rem url("../images/icon-sun.svg") no-repeat;
}

.theme--light .header__btnTheme:hover,
.theme--light .header__btnTheme:focus,
.theme--dark .header__btnTheme:hover,
.theme--dark .header__btnTheme:focus {
    background-color: var(--lightness3);
}

.header__control {
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.header__subtitleLeft,
.header__subtitleRight {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.header__controlLeft {
    margin-right: 1.5rem;
    text-align: left;
}

.header__controlRight {
    margin-left: 1.5rem;
    text-align: right;
}

.header__controlButtonsLeft,
.header__controlButtonsRight {
    display: flex;
    flex-flow: row wrap;
    gap: 0.7rem;
}

.header__controlButtonsLeft {
    justify-content: flex-start;
}

.header__controlButtonsRight {
    justify-content: flex-end;
}

.footer {
    padding: 4rem;
    text-align: center;
}

.footer__btnTop {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    border-radius: 50%;
    margin: 0 auto;
    background: var(--lightness2);
    transition: 0.3s;
}

.footer__btnTop:hover,
.footer__btnTop:focus {
    background: var(--lightness3);
}

.footer__imgArrowUp {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 1rem;
}

.btn--small,
.btn--big {
    padding: 1.2rem 1rem;
    border: none;
    border-radius: 0.5rem;
    color: var(--lightness4);
    background: var(--lightness2);
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    transition: 0.3s;
}

.btn--small:hover,
.btn--small:focus,
.btn--big:hover,
.btn--big:focus {
    background: var(--lightness3);
    cursor: pointer;
}

.btn--big {
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
}

@media only all and (min-width: 641px) {

    .header__title {
        padding-top: 6rem;
        font-size: 6rem;
        letter-spacing: 1.2rem;
    }

}

@media only all and (min-width: 751px) {

    .theme--light {
        background-image: url("../images/banner-light-big.jpg");
        background-image: image-set(
            "../images/banner-light-big.avif" type("image/avif"),
            "../images/banner-light-big.webp" type("image/webp"),
            "../images/banner-light-big.jpg" type("image/jpeg")
        );
    }

    .theme--dark {
        background-image: url("../images/banner-dark-big.jpg");
        background-image: image-set(
            "../images/banner-dark-big.avif" type("image/avif"),
            "../images/banner-dark-big.webp" type("image/webp"),
            "../images/banner-dark-big.jpg" type("image/jpeg")
        );
    }

}
