
/* Font-Weight Roboto

- Thin:    100
- Light:   300
- Regular: 400
- Bold:    700
- Black:   900

*/

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root {
    --lightness1: #fff;
    --lightness2: #f2f2f2;
    --lightness3: #ccc;
    --lightness4: #000;
    --color1: #d9f9ff;
    --color2: #efffd9;
    --color3: #fff9d9;
    --color4: #ffedd9;
    --color5: #ffd8d8;
}

.theme {
    padding: 5.5rem 2.5rem;
    font: 400 1.6rem/1.3 Roboto, sans-serif;
    background-color: var(--lightness2);
    background-repeat: no-repeat;
    background-size: cover;
}

.notesApp {
    max-width: 100rem;
    border-radius: 1rem;
    margin: 0 auto;
    color: var(--lightness4);
    background: var(--lightness1);
}

.header {
    position: relative;
    text-align: center;
}

.header__title {
    padding: 6rem 0 2rem;
    margin: 0;
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: 0.7rem;
    text-transform: uppercase;
}

.header__btnTheme {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.header__imgPlus {
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 1rem;
}

.theme--light .header__btnTheme {
    background: var(--lightness2) center center / 1.5rem url("../images/icon-moon.svg") no-repeat;
}

.theme--dark .header__btnTheme {
    background: var(--lightness2) center center / 2.1rem url("../images/icon-sun.svg") no-repeat;
}

.theme--light .header__btnTheme:hover,
.theme--light .header__btnTheme:focus,
.theme--dark .header__btnTheme:hover,
.theme--dark .header__btnTheme:focus {
    background-color: var(--lightness3);
}

.header__control {
    margin: 2.5rem 0 2rem;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.header__subtitleLeft,
.header__subtitleRight {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.header__controlLeft {
    margin-right: 1.5rem;
    text-align: left;
}

.header__controlRight {
    margin-left: 1.5rem;
    text-align: right;
}

.header__controlButtonsLeft,
.header__controlButtonsRight {
    display: flex;
    flex-flow: row wrap;
    gap: 0.7rem;
}

.header__controlButtonsLeft {
    justify-content: flex-start;
}

.header__controlButtonsRight {
    justify-content: flex-end;
}

.note {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    row-gap: 1rem;
    padding: 2rem;
    border-top: 0.1rem solid var(--lightness3);
    text-align: center;
}

.note:last-child {
    border-bottom: 0.1rem solid var(--lightness3);
}

.note__info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.note__date {
    min-width: 15rem;
    padding: 0 0 0 2.8rem;
    margin: 0;
    text-align: left;
}

.note__status {
    display: flex;
    flex-flow: row-reverse nowrap;
    color: var(--lightness3);
}

.note__checkboxStatus {
    width: 1.9rem;
    height: 1.9rem;
    border: 0.15rem solid var(--lightness3);
    border-radius: 0.2rem;
    margin: 0 0 0 0.9rem;
    appearance: none;
}

.note__checkboxStatus:hover {
    cursor: default;
}

.note__message {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: left;
}

.note__title {
    margin: 0 0 1rem;
    font-size: 1.6rem;
    font-weight: 700;
}

.note__text {
    margin: 0;
}

.note__importance {
    flex: 0 0 auto;
    width: 10rem;
    margin: 0 0.5rem 0 2rem;
}

.note--importance1 { background: var(--color1); }
.note--importance2 { background: var(--color2); }
.note--importance3 { background: var(--color3); }
.note--importance4 { background: var(--color4); }
.note--importance5 { background: var(--color5); }

.note--importance1-gray,
.note--importance2-gray,
.note--importance3-gray,
.note--importance4-gray,
.note--importance5-gray {
    background: var(--lightness2);
}

.note--importance1 .note__importance {
    background: url("../images/icon-fire-blue.svg") right center / 2rem no-repeat content-box;
}

.note--importance2 .note__importance {
    padding-left: 6rem;
    background: url("../images/icon-fire-green.svg") right center / 2rem repeat-x content-box;
}

.note--importance3 .note__importance {
    padding-left: 4rem;
    background: url("../images/icon-fire-yellow.svg") right center / 2rem repeat-x content-box;
}

.note--importance4 .note__importance {
    padding-left: 2rem;
    background: url("../images/icon-fire-orange.svg") right center / 2rem repeat-x content-box;
}

.note--importance5 .note__importance {
    background: url("../images/icon-fire-red.svg") right center / 2rem repeat-x content-box;
}

.footer {
    padding: 4rem;
    text-align: center;
}

.footer__btnTop {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    border-radius: 50%;
    margin: 0 auto;
    background: var(--lightness2);
    transition: 0.3s;
}

.footer__btnTop:hover,
.footer__btnTop:focus {
    background: var(--lightness3);
}

.footer__imgArrowUp {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 1rem;
    fill: var(--lightness4);
}

.btn--small,
.btn--big {
    padding: 1.2rem 1rem;
    border: none;
    border-radius: 0.5rem;
    color: var(--lightness4);
    background: var(--lightness2);
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    transition: 0.3s;
}

.btn--small:hover,
.btn--small:focus,
.btn--big:hover,
.btn--big:focus {
    background: var(--lightness3);
    cursor: pointer;
}

.btn--big {
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
}

.theme--light {
    background-image: url("../images/banner-light-small.jpg");
    background-image: image-set(
            url("../images/banner-light-small.avif") type("image/avif"),
            url("../images/banner-light-small.webp") type("image/webp"),
            url("../images/banner-light-small.jpg") type("image/jpeg")
    );

    .note__date {
        background: url("../images/icon-calendar-black.svg") left center / 1.8rem no-repeat;
    }

    .note__checkboxStatus:checked {
        background: var(--lightness3) url("../images/icon-checkmark-white.svg") center center / 1.2rem no-repeat;
    }

    .note--disabledImportance1 .note__importance {
        background: url("../images/icon-fire-lightgray.svg") right center / 2rem no-repeat content-box;
    }

    .note--disabledImportance2 .note__importance {
        padding-left: 6rem;
        background: url("../images/icon-fire-lightgray.svg") right center / 2rem repeat-x content-box;
    }

    .note--disabledImportance3 .note__importance {
        padding-left: 4rem;
        background: url("../images/icon-fire-lightgray.svg") right center / 2rem repeat-x content-box;
    }

    .note--disabledImportance4 .note__importance {
        padding-left: 2rem;
        background: url("../images/icon-fire-lightgray.svg") right center / 2rem repeat-x content-box;
    }

    .note--disabledImportance5 .note__importance {
        background: url("../images/icon-fire-lightgray.svg") right center / 2rem repeat-x content-box;
    }

}

.theme--dark {
    --lightness1: #000;
    --lightness2: #242424;
    --lightness3: #575757;
    --lightness4: #ccc;
    --color1: #00414d;
    --color2: #2c4d00;
    --color3: #4d4100;
    --color4: #4d2900;
    --color5: #4d0000;

    background-image: url("../images/banner-dark-small.jpg");
    background-image: image-set(
            url("../images/banner-dark-small.avif") type("image/avif"),
            url("../images/banner-dark-small.webp") type("image/webp"),
            url("../images/banner-dark-small.jpg") type("image/jpeg")
    );

    .note__date {
        background: url("../images/icon-calendar-lightgray.svg") left center / 1.8rem no-repeat;
    }

    .note__checkboxStatus:checked {
        background: var(--lightness3) url("../images/icon-checkmark-black.svg") center center / 1.2rem no-repeat;
    }

    .note--disabledImportance1 .note__importance {
        background: url("../images/icon-fire-darkgray.svg") right center / 2rem no-repeat content-box;
    }

    .note--disabledImportance2 .note__importance {
        padding-left: 6rem;
        background: url("../images/icon-fire-darkgray.svg") right center / 2rem repeat-x content-box;
    }

    .note--disabledImportance3 .note__importance {
        padding-left: 4rem;
        background: url("../images/icon-fire-darkgray.svg") right center / 2rem repeat-x content-box;
    }

    .note--disabledImportance4 .note__importance {
        padding-left: 2rem;
        background: url("../images/icon-fire-darkgray.svg") right center / 2rem repeat-x content-box;
    }

    .note--disabledImportance5 .note__importance {
        background: url("../images/icon-fire-darkgray.svg") right center / 2rem repeat-x content-box;
    }

}

@media only all and (width >= 800px) {
    .header__title {
        padding-top: 5rem;
        font-size: 6rem;
        letter-spacing: 1.2rem;
    }

    .note {
        flex-flow: row nowrap;
        align-items: center;
        padding: 0.5rem 2rem;
    }

    .note__info {
        flex-flow: column nowrap;
    }

    .note__date {
        margin: 0 0 1rem;
    }

    .note__status {
        flex-flow: row nowrap;
    }

    .note__checkboxStatus {
        margin: 0 0.9rem 0 0;
    }

    .note__message {
        flex: 2 2 auto;
        margin: 0 2rem;
    }

}

@media only all and (width >= 750px) {
    .theme--light {
        background-image: url("../images/banner-light-big.jpg");
        background-image: image-set(
            "../images/banner-light-big.avif" type("image/avif"),
            "../images/banner-light-big.webp" type("image/webp"),
            "../images/banner-light-big.jpg" type("image/jpeg")
        );
    }

    .theme--dark {
        background-image: url("../images/banner-dark-big.jpg");
        background-image: image-set(
            "../images/banner-dark-big.avif" type("image/avif"),
            "../images/banner-dark-big.webp" type("image/webp"),
            "../images/banner-dark-big.jpg" type("image/jpeg")
        );
    }

}
